<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-DD} [%t] %-5p %c{1}:%L - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/application.log" filePattern="logs/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{YYYY-MM-DD} [%t] %-5p %c{10}:%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="RollingFileDao" fileName="logs/application_dao.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="%d{YYYY-MM-DD} [%t] %-5p %c{10}:%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.gmail.evanloafakahaitao.connection" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.impl.FeedbackDaoImpl" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.impl.ItemDaoImpl" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.impl.OrderDaoImpl" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.impl.UserDaoImpl" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.util.ItemConverter" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.util.OrderConverter" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Logger name="com.gmail.evanloafakahaitao.util.UserConverter" level="info">
            <AppenderRef ref="RollingFileDao"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>