@media (min-width: 1600px) {
    div.wide {
        max-width: 1600px;
    }
}

textarea.mytextarea {
    min-width: 600px;
    min-height: 200px;
}

.news {
    width: 100%;
    text-align: center;
    color: #533f03;
    font-size: 24px;
}

.develop {
    width: 100%;
    text-align: center;
    color: #6f42c1;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;
}

